main {
    background-color: yellow;
    padding: 1em;
    color: turquoise;
    text-align: center;
}
.header {
    background-color:deeppink;
    color: chartreuse;
    text-align: center;
}
body {
    background-image: url("record.png");
    margin: 0;
}
