header {
    background-color: olivedrab;
    color:antiquewhite;
    text-align: center;
    padding: 2px;
}
main {
    background-color: lightgrey;
    margin: 75px;
    padding: 1em;
    border-radius: 8px;
}
body {
    background-image: url("record.png");
    background-repeat: repeat;
    margin: 0;
}
.pic-info {
    font-size: 30px;
    padding: 12px;
    color: mediumblue;
    background-color: blanchedalmond;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    border-radius: 8px;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
