.header-styling {
    background-color: darkblue;
    color: aliceblue;
    text-align: center;
}

.main-styling {
    background-color: lightgrey;
    padding: 1em;
}

body {
    background-image: url("record.png");
    background-repeat: repeat-y;
    margin: 0;
}